#models {
  /* position: absolute; */
  /* top: 343%; */
  /* left: 37.1%; */
  /* top: 50%; */
  margin-top: 40px;
}

.upload-text {
  font-size: 34px;
  max-width: 500px;
  margin: 0 0 29.41176px;
  padding-top: 0px;
  margin-bottom: 0;
}

.upload-text-p {
  font-size: 18px;
  /* max-width: 500px; */
  margin: 0 0 29.41176px;
  padding-top: 0px;
}

.file-upload-cont {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
}

/* .form {
    height: 45vh;
  } */

.file-upload-box {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  width: 100%;
  /* height: 93vh; */
  background-color: #eff0f5;
  /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
}

.loading__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  z-index: 1000;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.918);
}
.loading__container .loading__circle {
  /* position: absolute;` */
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 900px;
  border: 20px solid #ccc;
  border-top: 20px solid #4b4b4b;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#folder {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}
